nav {
  --color1: lightblue;

  background-color: hotpink;
  border-bottom: 5px solid grey;
  padding: 5px;

  display: flex;
  /* flex-direction: column; ROW IS DEFAULT */
  /* the big rules: flex-start, flex-end, center, space-between, space-around */
  justify-content: space-between;
  align-items: center;
}

.navbar-button {
  background-color: #EEEEEE;
  border: 3px solid #666666;
  padding: 10px 15px;

  /* cursor: default */
  cursor: pointer;
}

.navbar-button:hover {
  background-color: hotpink;
}

.navbar-button:not(:first-of-type) {
  border-left: none;
}



